*{
    margin: 0;
    padding: 0;
    font-family: 'popping', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: rgb(172, 210, 222);
    color: beige;
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(images//B612_20220825_200843_754\ -\ Copy\ \(2\).jpg);
    background-size:contain;
    background-position: top;
}

.container{
    padding: 10px 10%;
    height: min-content;
    
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    color: black;
   
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 18px;
}

nav ul li a{
    color: rgb(7, 7, 151);
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}

.header-text{
    text-decoration: dashed;
    font-size: 30px;
    
}

.header-text h1{
    font-size: 60px ;
    margin-top: 20px;
}

.header-text h1 span{
    color: #ff004f;
}

/*about*/

#about{
    padding: 80px 0;
}

.about-col-1{
    flex-basis: 35%;
}

.about-col-2{
    flex-basis: 60%;
}


.tab-titles{
    color: green;
    display: flex;
    margin: 20px 0 40px;
}

.tab-links{
    margin-right: 50px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    font-weight: bold;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background-color:white;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 100%;
    background: #ff004f;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px;
    font-size: medium;
    margin-left: 0%;
}

.tab-contents ul li span{
    color: #ff004f;
    font-size: 14px;
    font-weight: bold;
}

.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}

.nav-link{
    font-weight: bold;
}

/*services*/

#services{
    padding: 30px 0;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.services-list div {
    background:#599aef;
    padding: 30px;
    font-size: 15px;
    font-weight: 250;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}
.services-list div:hover{
    background:#02fb6e;
    transform: translateY(-10px);
   
}
.services-list div i{
    font-size: 25px;
    margin-bottom: 30px;
}
.services-list div h2{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 15px;
    font-style:italic;
}
.portfolio{
    padding: 50px 0;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;  
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 50%;
    background: linear-gradient(rgba(87, 10, 10, 0.6), #2f6795);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a{
    margin-top: 20px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    line-height: 30px;
    background: #080346;
    width:30px;
    height: 30px;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 2px dashed #080346;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #080346;
    transition: background 0.5s;
    font-weight: bolder;
    text-decoration:underline;
}
.btn:hover{
    background: #d24d78;
}


/*contact*/

.contact-left{
    flex-basis: 40%;
}
.contact-right{
    flex-basis: 70%;
}
.sub-title{
    color: #080346;
    text-decoration: underline;
}
.sub-contact{
    color: #080346;
    font-weight: bold;
}
.sub-contact i{
    color:  #ff004f;
}
.contact-left p{
    margin-top: 5px;
}
.contact-left p i{
    margin-right: 10px;
    transition: transform;
}
.contact-left p i:hover{
    color:#2b0202;
    transform: translateY(-2px);
}
.contact-left a i{
    margin-right: 10px;
    margin-top: 10px;
    color:  #ff004f;;
    display: inline-block;
    transition: transform;
}
.contact-left a i:hover{
    color:#2b0202;
    transform: translateY(-2px);
}
.btn.button{
    display: inline-block;
    background:#ff004f;
    text-decoration: none;
    color: #d6b5f5;
    font-size: 12px;
    color: white;
    margin-top: 20px;
   
}
.contact-right form{
    width: 50%;
}
form input, form textarea{
    width: 50%;
    background: #262626 ;
    padding: 8px;
    margin: 15px 0;
    font-size: 12px;
    border-radius: 5px;
    color: white;
}
form button{
    padding: 15px 50px;
    font-size: 12px;
    margin-top: 20px;
    cursor: pointer;
    color: white;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #2f6795;
    font-weight: 250;
    margin-top: 20px;
}

